.header {
  height: fit-content;
  width: 100vw;
}

.header-logo {
  width: 300px;
  padding: 15px 50px;
  background: #f9fafe;
}

.header-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header-navbar {
  padding: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-grow: 1;
  background: #fff;
}

.header-navbar .name {
  font-size: 20px;
  font-weight: bold;
  color: black;
  white-space: nowrap;
}

.header-navbar .user-dropdown {
  margin-left: 20px;
}

.header-navbar .user-dropdown .circle {
  width: 50px;
  height: 50px;
  background: rgb(212, 239, 255);
}

.header-navbar .user-dropdown .user-content .name {
  margin-right: 10px;
}

.custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
