.request-form .flex-row {
    padding: 20px 0px;
  }
  
  .request-form .flex-row .column {
  }

  .request-btn {
   margin-top: 1.5%;
  }
 
  .blank{
    height: 5px;
  }

  .add-item{
    margin-left: 43%;
  }
  .flex-column>.card{
 width: 100%;
 margin-bottom: 10px;
  }
.column-card{
  padding: 10%;
}
.align-center{
  text-align: center;
}

  @media only screen and (max-width: 768px) {
    .request-form .flex-row .column {
      width: 100%;
    }
  }
  